<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="color-scheme" content="dark">
<style>
    #select_container {
        height: fit-content;
    }

    #select_container select {
        overflow: auto;
        width: 100%;
        height: 100%;
    }

    audio,
    canvas,
    select {
        width: 100%;
    }
</style>

<details open>
    <summary>File Select</summary>
    <p>
        <button><label for="file_input">Select Audio File</label></button>
        <input id="file_input" type="file" accept="audio/*" multiple hidden>
        <button><label for="record_input">Record</label></button>
        <input id="record_input" type="file" accept="audio/*" capture hidden>
    </p>
    <p id="select_container"></p>
    <ul id="file_info_container"></ul>
</details>

<p>WebSocket: <span id="ws_container"></span></p>
<p>WS url: <input id="ws_input"></p>
<p><button id="connect_button"></button></p>

<p id="sample_rate_container"></p>
<p id="buffer_len_container"></p>
<p id="audio_container"></p>
<p id="canvas_container"></p>

<script>
    const audio_files = new Map()
    const file_select = document.createElement('select')

    const audio = new Audio()
    audio.setAttribute('controls', '')
    const cnv = document.createElement('canvas')
    const ctx = cnv.getContext('2d')

    function attach(element, parent = document.body) {
        if (!element.isConnected)
            parent.append(element)
    }

    ws_input.value = 'ws://esp32.local/ws'

    function connect() {
        if (!window.connection) {
            const socket = new WebSocket(ws_input.value)
            console.log("Start WebSocket connection.")
            connect_button.disabled = true
            socket.onopen = function () {
                console.log("WebSocket connection established.")
                connection = socket
                ws_container.textContent = 'Connected: ' + socket.url
                connect_button.textContent = 'Disconnect'
                connect_button.disabled = false
                connect_button.onclick = () => {
                    socket.close()
                }
            }
            socket.onmessage = function (event) {
                console.log('WebSocket received message: ' + event.data)
            }
            socket.onerror = function (event) {
                console.error("WebSocket error:")
                console.error(event)
            }
            socket.onclose = function () {
                console.log("WebSocket connection closed.")
                connection = null
                ws_container.textContent = ''
                init_connect_button()
            }
        }
    }

    function init_connect_button() {
        ws_container.textContent = 'Not Connected'
        connect_button.textContent = 'Connect'
        connect_button.disabled = false
        connect_button.onclick = connect
    }
    init_connect_button()

    audio.onloadedmetadata = init_sampler

    function init_sampler() {
        if (!window.context) {
            context = new AudioContext({ sampleRate: 8000 })
            analyser = new AnalyserNode(context)
            const source = context.createMediaElementSource(audio)
            source.connect(analyser).connect(context.destination)

            function start_sampling() {
                timeoutID = setTimeout(start_sampling, 1000 * analyser.fftSize / context.sampleRate)
                on_sample()
            }

            audio.onplay = start_sampling
            audio.onpause = function () {
                clearTimeout(timeoutID)
            }

            sample_rate_container.textContent = `Sample Rate: ${context.sampleRate}`
            buffer_len_container.textContent = `Buffer Len: ${analyser.fftSize}`
            attach(audio, audio_container)
            attach(cnv, canvas_container)
        }
    }

    function on_sample() {
        const data = new Uint8Array(analyser.fftSize)
        analyser.getByteTimeDomainData(data)

        if (window.connection) connection.send(data)

        ctx.clearRect(0, 0, cnv.width, cnv.height)
        ctx.strokeStyle = 'white'
        ctx.beginPath()
        data.forEach((v, i) => {
            const x = i * cnv.width / data.length
            const y = v * cnv.height / 255
            if (i == 0) ctx.moveTo(x, y)
            else ctx.lineTo(x, y)
        });
        ctx.stroke()
    }

    file_select.onchange = function () {
        audio.src = audio_files.get(this.value).url
        audio.load()

        const file = audio_files.get(this.value).file
        file_info_container.replaceChildren(
            Object.assign(document.createElement('li'), { textContent: `Name: ${file.name}` }),
            Object.assign(document.createElement('li'), { textContent: `Size: ${file.size} bytes` }),
            Object.assign(document.createElement('li'), { textContent: `Mime Type: ${file.type}` }),
        )
    }

    record_input.onchange =
        file_input.onchange = function () {
            for (const file of this.files)
                audio_files.set(file.name, { file: file, url: URL.createObjectURL(file) })

            file_select.size = audio_files.size > 1 ? audio_files.size : 2
            file_select.replaceChildren(
                ...[...audio_files.keys()].map(name => Object.assign(
                    document.createElement('option'), {
                    textContent: name,
                    value: name
                }))
            )
            attach(file_select, select_container)

            if (file_select.value === '') {
                const [filename] = audio_files.keys()
                file_select.value = filename
                file_select.onchange()
            }
        }
</script>