<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta name="color-scheme" content="dark">

<p><button id='connect_button'></button></p>
<p>
    <input id='inputbox'>
    <button id='send_button'>Send Message</button>
</p>
<div id='response'></div>

<script>
    function init_connect_button() {
        connect_button.textContent = 'Connect'
        connect_button.onclick = () => {
            const socket = ws_connect();
            connect_button.textContent = 'Disconnect'
            connect_button.onclick = () => {
                socket.close()
                init_connect_button()
            }
        }
    }

    init_connect_button()

    function ws_connect() {
        const socket = new WebSocket(`ws://esp32.local/ws`);
        socket.onopen = () => {
            console.log('Web socket connection is opened.')

            send_button.onclick = () => {
                if (inputbox.value !== '')
                    socket.send(inputbox.value)
                inputbox.value = ''
            }

            socket.onclose = () => {
                console.log('WebSocket connection closed.')
                init_connect_button()
            }
            socket.onmessage = event => {
                response.append(Object.assign(document.createElement('p'), { textContent: event.data }))
            }
            socket.onerror = event => {
                console.error('WebSocket error: ', event)
            }
        }
        return socket
    }
</script>