<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- https://www.figma.com/file/SxFK3n3bpf033pl6qo0RJF/%E5%AE%A0%E7%89%A9%E7%95%8C%E9%9D%A2%E5%BC%80%E5%8F%91?node-id=0%3A1 -->

<link rel="stylesheet" href="style.css">

<div class="heading">
    <span class="title">Your Pet</span>
    <span>in flight - the cargo hold</span>
</div>

<div class="cards">
    <section class="card-temp">
        <details open>
            <summary class="card">
                <div class="content">
                    <canvas id="cnv1"></canvas>
                    <div class="card-heading">
                        <div class="card-title">Body Temp</div>
                        <div>
                            <span id="el-temp-val"></span>
                            <span class="temp-info">
                                <div>C</div>
                                <div>/<span id="el-temp-min"></span>-<span id="el-temp-max"></span></div>
                            </span>
                        </div>
                    </div>
                </div>
            </summary>
            <div class="detail">
                <canvas id="cnv2"></canvas>
            </div>
        </details>
    </section>

    <aside>
        <section class="card-info">
            <details>
                <summary class="card">
                    <div class="content">
                        <div class="info">
                            <div><b>Animal Name:</b> <span id="el-animal-name">James</span></div>
                            <div><b>Species:</b> <span id="el-species">CAT</span></div>
                            <div><b>Weight:</b> <span id="el-weight">12 KG</span></div>
                            <div><b>Microchip No.:</b> <span id="el-microchip-no">156000034039487</span></div>
                        </div>
                        <div class="card-heading">
                            <div class="card-title">Animal Info</div>
                        </div>
                    </div>
                </summary>

                <div class="detail">
                    <div class="info">
                        <div><b>Owner:</b> <span>Catherine</span></div>
                        <div><b>Breed:</b> <span>British Shorthair</span></div>
                        <div><b>Sex/color:</b> <span>Female/Gray</span></div>
                        <div><b>Date of birth</b> <span>2021/12/21</span></div>
                    </div>
                    <div class="img-rapper">
                        <img src="Cat_November_2010-1a.jpg" alt="">
                    </div>
                </div>
            </details>
        </section>

        <section class="card-notify card">
            <p>
                When it lights up, the abnormal situation <b>has been fed</b> back to the flight attendant,
                they
                will adjust the pet's environment <b>within 3 minutes</b> and get in touch with you . (If not,
                please call attendant)
            </p>
        </section>
    </aside>
</div>

<div class="overlay" hidden>
    <p id="el-window-width"></p>
    <p id="el-window-height"></p>
</div>

<script src="script.js"></script>