:root {
    --color-bg: #F1F1F3;
    --color-gray1: #9799A6;
    --color-gray2: #494A52;
    --color-blue: #B6CAE0;
    --color-red: #E17967;
}

body {
    background-color: var(--color-bg);
    margin: 1em;
}

section {
    margin: 1em 0;
}

.heading {
    color: var(--color-gray2);
}

.heading .title {
    font-size: x-large;
    font-weight: bold;
}

.card {
    border-radius: 1em;
    padding: 1em;
    background-color: white;
}

details[open] {
    background-color: var(--color-gray2);
    border-radius: 1em;
}

summary.card {
    cursor: pointer;
}

summary.card,
details[open] summary.card {
    list-style: none;
}

summary.card .card-heading {
    display: flex;
    flex-direction: column;
}

summary.card .card-heading::after {
    content: '﹀';
}

details[open] summary.card .card-heading::after {
    content: '︿';
}

summary.card .card-heading::after,
details[open] summary.card .card-heading::after {
    font-size: larger;
    color: var(--color-gray1);
    margin-top: auto;
    align-self: flex-end;
}

details .detail {
    padding: 1em;
    color: white;
}

.card .content {
    display: flex;
    gap: 1em;
}

.card .card-heading {
    color: var(--color-gray2);
}

.card .card-title {
    font-size: large;
    font-weight: bold;
    text-align: right;
}

.card-temp .content {
    max-height: 10em;
}

.card-temp #cnv1 {
    flex: 1;
    min-width: 0;
}

.card-temp #el-temp-val {
    font-size: xx-large;
    font-weight: bold;
}

.card-temp .temp-info {
    display: inline-block;
    font-size: smaller;
}

.card-temp #cnv2 {
    width: 100%;
}

.card-info {
    color: var(--color-gray1);
}

.card-info .detail {
    display: flex;
}

.card-info .img-rapper {
    flex-grow: 0;
    flex-basis: 20%;
}

.card-info img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    max-width: 100%;
}

.card-info .info {
    flex: 1;
}

.card-notify {
    color: var(--color-gray1);
}

.card-notify p b {
    color: var(--color-gray2);
}

@media (max-width: 400px) {
    :root {
        font-size: small;
    }
}


@media (min-width: 750px) {
    body {
        flex-direction: column;
        height: auto;
    }

    .cards {
        display: flex;
        gap: 1em;
    }

    .card-temp {
        flex: 1;
    }

    .cards aside {
        flex-basis: 40%;
    }
}

.overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 1em;
}